.toolbar-centered {
  position: relative;

  ion-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
    text-align: center;
  }
}

.obs {
  font-size: 18px;
}
