

<ion-content [fullscreen]="true" class="login-content">
  <div class="login-wrapper">
    <ion-card class="login-card">
      <ion-card-content>
        <div class="brand-block">
          <h1>Iniciar sesión</h1>
          <p>Selecciona un método de acceso</p>
        </div>

        <div class="providers">
          <ion-button
            expand="block"
            class="provider-btn google-btn"
            fill="clear"
            (click)="selectProvider('google');loginGoogle()"
          >
            <ion-icon slot="start" name="logo-google"></ion-icon>
            Continuar con Google
          </ion-button>

          <ion-button
            expand="block"
            class="provider-btn email-btn"
            fill="clear"
            (click)="selectProvider('email')"
          >
            <ion-icon slot="start" name="mail-outline"></ion-icon>
            Continuar con Email
          </ion-button>
        </div>

        <div class="provider-component" *ngIf="selectedProvider">
          <app-login-google *ngIf="selectedProvider === 'google'"></app-login-google>
          <app-login-email *ngIf="selectedProvider === 'email'"></app-login-email>
        </div>
      </ion-card-content>
    </ion-card>
  </div>


</ion-content>
