
<ion-header>
  <ion-toolbar>
    <ion-title>Portal Medico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1 class="ion-text-center">Ficha Clínica</h1>

  <!--Seccion de interfaz de componentes medical register - List-->
  <section>
    @if(showList)
    {
      <app-list-medical/>
    }
    @else
    {
      <app-register-medical/>
    }
  </section>
  <!--Boton de opciones-->
  <app-ion-tab class="ion-tab" (changeView)="changeView($event)"/>

</ion-content>


