
<ion-header>
  <ion-toolbar>
    <ion-title>Portal Medico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!--Titulo según el componente-->
  @if(showList)
  {
    <h1 class="ion-text-center">Historial Clínico</h1>
  }
  @else{
    <h1 class="ion-text-center">Registro Clínico</h1>
  }

  <!--Seccion de interfaz de componentes (List-medical - Register-medical)-->
  <section>
    @if(showList)
    {
      <app-list-medical/>
    }
    @else
    {
      <app-register-medical/>
    }
  </section>
  <!--Boton de opciones-->
  <app-ion-tab class="ion-tab" (changeView)="changeView($event)"/>

</ion-content>


